.tooltip {
  position: absolute;
  top: calc(-100% + 15px);
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #333;
  white-space: nowrap;
  box-sizing: border-box;
  z-index: 100;
  color: #fff;
}
