@import "../../../sass/vars.scss";
@import "../../../sass/mixins.scss";

.pcTeamHeader {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
    margin: 0;
  }
}

.pcTeamBody {
  height: calc(100% - 120px);
  position: relative;
  color: $text-color;
}

.pcTeamNull {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pcTeamFooter {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
