.projects {
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-columns: auto auto auto;
  // justify-content: start;
  grid-auto-rows: 200px;
  &.projectsFull {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .projects {
    grid-template-columns: auto auto;

    // width: 50%;
    // margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .projects {
    grid-template-columns: auto;
  }
}
