.projects {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  justify-content: start;
  grid-auto-rows: 200px;
}

@media (max-width: 940px) {
  .projects {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 770px) {
  .projects {
    width: 100%;
    margin: 0 auto;
  }
}
